$white-text-color: #ffffff;
$black-text-color: #000000;


$ultra-light-gray: #f7f7f7;
$middle-gray-color: #5f5f5f;
$light-gray: #969696;
$menu-gray-color: #616161;

$accent-color: #006c86;

$bg-color: #eeeeee;

$site-menu-color: #932388;
$site-menu-hover: #572786;

$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
