$white-text-color: #ffffff;
$black-text-color: #000000;


$ultra-light-gray: #f7f7f7;
$middle-gray-color: #5f5f5f;
$light-gray: #969696;
$menu-gray-color: #616161;

$accent-color: #006c86;

$bg-color: #eeeeee;
// $grey-text-color: #907e82;

// $secondary-title-color: #ffa5ba;

// $bg-gradient: #dcdcdc;

// $secondary-bg-color: #fff5f6;
// $fourth-bg-color: #f0d1a5;
// $fifth-bg-color: #c2e297;

// $secondary-accent-color: #c7133e;

$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

// $button-hover-color: #ecebeb;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
