<footer class="footer">
    <div class="container">
        <div class="footer__field">
            <div class="footer__desk">
                <div class="footer__line dark"></div>
                <div class="footer__line light"></div>

                <div class="footer__box">
                    <ul class="footer__list list">
                        <li class="footer__item top"></li>
                        <li class="footer__item top"></li>
                        <li class="footer__item top"></li>
                    </ul>
                </div>
                <div class="footer__box center">
                    <ul class="footer__list list">
                        <li class="footer__item"></li>
                        <li class="footer__item"></li>
                        <li class="footer__item"></li>
                    </ul>
                </div>
                <div class="footer__line dark"></div>
                <div class="footer__line light"></div>
                <div class="footer__box">
                    <ul class="footer__list list last">
                        <li class="footer__item last"></li>
                        <li class="footer__item last"></li>
                        <li class="footer__item last"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
