<section class="gallery">
    <div class="container">
        <h2 class="visually-hidden">Lorem, ipsum.</h2>
        <div class="gallery__desk">
            <ul class="gallery__list list">
                <li class="gallery__item">
                    <div class="gallery__content"></div>
                </li>
                <li class="gallery__item">
                    <div class="gallery__content"></div>
                </li>
                <li class="gallery__item">
                    <div class="gallery__content"></div>
                </li>
                <li class="gallery__item">
                    <div class="gallery__content"></div>
                </li>
            </ul>
            <ul class="gallery__list list is-hidden" data-modal>
                <li class="gallery__item">
                    <div class="gallery__content"></div>
                </li>
                <li class="gallery__item">
                    <div class="gallery__content"></div>
                </li>
                <li class="gallery__item">
                    <div class="gallery__content"></div>
                </li>
                <li class="gallery__item">
                    <div class="gallery__content"></div>
                </li>
                <li class="gallery__item">
                    <div class="gallery__content"></div>
                </li>
                <li class="gallery__item">
                    <div class="gallery__content"></div>
                </li>
                <li class="gallery__item">
                    <div class="gallery__content"></div>
                </li>
                <li class="gallery__item">
                    <div class="gallery__content"></div>
                </li>
            </ul>
        </div>
        <button class="gallery__btn" type="button" data-modal-open>more</button>
    </div>
</section>

<!-- <div class="is-hidden" data-modal>
    <button class="modal__btn" type="button" data-modal-close>hide</button>
</div> -->

<!-- <div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <button class="modal__btn" type="button" data-modal-close>hide</button>
        <p class="form__title">Оставьте свои данные, мы вам перезвоним</p>
    </div>
</div> -->
