<header class="header">
    <h1 class="visually-hidden">Lorem ipsum dolor sit amet.</h1>
    <div class="container">
        <ul class="lang list">
            <li class="lang__item"><button class="lang__btn">Eng</button></li>
            <li class="lang__item"><button class="lang__btn">Aze</button></li>
            <li class="lang__item current"><button class="lang__btn current">Рус</button></li>
        </ul>
        <div class="header__box">
            <div class="logo"><a class="logo__link link" href="#">Logo</a></div>
            <div class="links__container">
                <div class="links">
                    <div class="links__box">
                        <div class="links__item">
                            <svg class="links__icon" width="14" height="14">
                                <use href="/images/icons.svg#icon-logo"></use>
                            </svg>
                            <a class="links__link link" href="#">Lorem ipsum dolor sit.</a>
                        </div>
                        <div class="links__item">
                            <svg class="links__icon" width="14" height="14">
                                <use href="/images/icons.svg#icon-logo"></use>
                            </svg>
                            <a class="links__link link" href="#"> Lorem, ipsum.</a>
                        </div>
                    </div>
                    <div class="links__box">
                        <div class="links__item">
                            <svg class="links__icon" width="14" height="14">
                                <use href="/images/icons.svg#icon-logo"></use>
                            </svg>
                            <a class="links__link link" href="#"> Lorem, ipsum dolor.</a>
                        </div>
                        <div class="links__item">
                            <svg class="links__icon" width="14" height="14">
                                <use href="/images/icons.svg#icon-logo"></use>
                            </svg>
                            <a class="links__link link" href="#"
                                >Lorem ipsum dolor sit, amet <br class="br" />consectetur
                                adipisicing.</a
                            >
                        </div>
                    </div>
                    <div class="links__box">
                        <div class="links__item">
                            <svg class="links__icon" width="14" height="14">
                                <use href="/images/icons.svg#icon-logo"></use>
                            </svg>
                            <a class="links__link link" href="#"> Lorem, ipsum dolor.</a>
                        </div>
                        <div class="links__item">
                            <svg class="links__icon" width="14" height="14">
                                <use href="/images/icons.svg#icon-logo"></use>
                            </svg>
                            <a class="links__link link" href="#"> Lorem ipsum dolor sit.</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="nav">
            <ul class="nav__list list">
                <li class="nav__item">пункт меню</li>
                <li class="nav__item">длинный пункт меню</li>
                <li class="nav__item">очень длинный пункт меню</li>
                <li class="nav__item">еще пункт</li>
                <li class="nav__item" data-menu-open>
                    <button class="menu__btn" type="button" data-menu-open>п.меню</button>
                </li>
            </ul>
            <div class="site-menu is-closed" data-menu>
                <ul class="menu__list list">
                    <li class="menu__item">
                        <a class="menu__link link" href="#">Зарегистрироваться</a>
                        <div class="line__dark"></div>
                        <div class="line__light"></div>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link link" href="#">Что такое ортокератология</a>
                        <div class="line__dark"></div>
                        <div class="line__light"></div>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link link" href="#">История компании Парагон</a>
                        <div class="line__dark"></div>
                        <div class="line__light"></div>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link link" href="#"
                            >10 причин приобрести линзы Парагон для Вашей практики</a
                        >
                        <div class="line__dark"></div>
                        <div class="line__light"></div>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link link" href="#"
                            >Рекомендации по подбору линз Парагон (обучение пользованию)</a
                        >
                        <div class="line__dark"></div>
                        <div class="line__light"></div>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link link" href="#">Сдать экзамен online</a>
                        <div class="line__dark"></div>
                        <div class="line__light"></div>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link link" href="#">Связаться с дестрибьютором </a>
                        <div class="line__dark"></div>
                        <div class="line__light"></div>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link link" href="#"
                            >Задать вопрос консультанту компании Парагон</a
                        >
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
