<header class="header">
    <h1 class="visually-hidden">Lorem ipsum dolor sit amet.</h1>
    <div class="container">
        <ul class="lang list">
            <li class="lang__item"><button class="lang__btn">Eng</button></li>
            <li class="lang__item"><button class="lang__btn">Aze</button></li>
            <li class="lang__item current"><button class="lang__btn current">Рус</button></li>
        </ul>
        <div class="logo"><a class="logo__link link" href="#">Logo</a></div>
        <ul class="links list">
            <li class="links__item">
                <svg class="links__icon" width="14" height="14">
                    <use href="/images/icons.svg#icon-logo"></use>
                </svg>
                <a class="links__link link" href="#">Lorem ipsum dolor sit.</a>
            </li>
            <li class="links__item">
                <svg class="links__icon" width="14" height="14">
                    <use href="/images/icons.svg#icon-logo"></use>
                </svg>
                <a class="links__link link" href="#"> Lorem, ipsum.</a>
            </li>
            <li class="links__item">
                <svg class="links__icon" width="14" height="14">
                    <use href="/images/icons.svg#icon-logo"></use>
                </svg>
                <a class="links__link link" href="#"> Lorem, ipsum dolor.</a>
            </li>
            <li class="links__item">
                <svg class="links__icon" width="14" height="14">
                    <use href="/images/icons.svg#icon-logo"></use>
                </svg>
                <a class="links__link link" href="#">
                    Lorem ipsum dolor sit amet consectetur adipisicing.</a
                >
            </li>
            <li class="links__item">
                <svg class="links__icon" width="14" height="14">
                    <use href="/images/icons.svg#icon-logo"></use>
                </svg>
                <a class="links__link link" href="#"> Lorem, ipsum dolor.</a>
            </li>
            <li class="links__item">
                <svg class="links__icon" width="14" height="14">
                    <use href="/images/icons.svg#icon-logo"></use>
                </svg>
                <a class="links__link link" href="#"> Lorem ipsum dolor sit.</a>
            </li>
        </ul>
    </div>
</header>
