<!-- <div class="site-menu is-closed" data-menu>
    <ul class="menu__list list">
        <li class="menu__item">
            <a class="menu__link link" href="#">Зарегистрироваться</a>
            <div class="line__dark"></div>
            <div class="line__light"></div>
        </li>
        <li class="menu__item">
            <a class="menu__link link" href="#">Что такое ортокератология</a>
            <div class="line__dark"></div>
            <div class="line__light"></div>
        </li>
        <li class="menu__item">
            <a class="menu__link link" href="#">История компании Парагон</a>
            <div class="line__dark"></div>
            <div class="line__light"></div>
        </li>
        <li class="menu__item">
            <a class="menu__link link" href="#"
                >10 причин приобрести линзы Парагон для Вашей практики</a
            >
            <div class="line__dark"></div>
            <div class="line__light"></div>
        </li>
        <li class="menu__item">
            <a class="menu__link link" href="#"
                >Рекомендации по подбору линз Парагон (обучение пользованию)</a
            >
            <div class="line__dark"></div>
            <div class="line__light"></div>
        </li>
        <li class="menu__item">
            <a class="menu__link link" href="#">Сдать экзамен online</a>
            <div class="line__dark"></div>
            <div class="line__light"></div>
        </li>
        <li class="menu__item">
            <a class="menu__link link" href="#">Связаться с дестрибьютором </a>
            <div class="line__dark"></div>
            <div class="line__light"></div>
        </li>
        <li class="menu__item">
            <a class="menu__link link" href="#">Задать вопрос консультанту компании Парагон</a>
        </li>
    </ul>
</div> -->
