.gallery {
    padding-bottom: 20px;
}
.gallery__list {
    margin-top: 20px;
    // width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -20px;
    margin-left: -20px;
    
}

.gallery__desk {
    @media screen and (min-width:980px) {
        display: flex;
    }
}

.gallery__list.is-hidden {
    @media screen and (min-width:979px) {
        margin-left: auto;
    }
}


.gallery__item {
    height: 100px;
    background-color: $middle-gray-color;
    margin-left: 20px;
    margin-bottom: 20px;
    @media screen and (max-width:979px) {
        flex-basis: calc(100% / 2 - 20px);
    }
    @media screen and (min-width:980px) {
        width: 140px;
    }
}

.gallery__btn {
    margin-top: 20px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: $accent-color;
    text-decoration: underline;
    text-transform: uppercase;
    cursor: pointer;
    @media screen and (min-width:980px) {
        display: none;
    }
}


.is-hidden {
    @media screen and (max-width:979px) {
        display: none;
        // flex-wrap: nowrap;
    }
}

// .more__btn {
//     display: flex;
//     justify-content: center;
// }