// ----------------------form------------------

.hero {
    padding-top: 30px;
    padding-bottom: 20px;
    &__title {
        font-size: 24px;
    }
    @media screen and (min-width:980px) {
    padding-top: 20px;
    padding-bottom: 30px;
    }
}

.hero__box {
    @media screen and (min-width:768px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 14px 24px 34px 20px;
        background-color: #cccccc;
        border-radius: 6px;
        box-shadow: 0 8px 8px -2px rgba($color: #000000, $alpha: 0.1);

    }
}
.form {
    @media screen and (min-width:768px) {
        width: 280px;

    }
}
.form__area--main {
    margin-top: 10px;
}

.form__input--main {
    margin-top: 10px;
    width: 100%;
    height: 30px;
    border: 2px solid $middle-gray-color;
}

.form__box {
    display: flex;
    width: 100%;
    // justify-content: space-between;
}

.form__input {
    margin-top: 8px;
    width: 100%;
    height: 30px;
    border: 2px solid $middle-gray-color;
}

.form__box--2 {
    margin-right: 40px;
    width: 50%;
    @media screen and (min-width:980px) {
        margin-right: 18px;
    }
}

.form__box--3 {
    width: 50%;
}

.form__area {
    
    margin-top: 8px;
}

.form__title {
    font-size: 14px;
}

.form__btn,
.more__btn {
    margin-top: 12px;
    width: 174px;
    height: 30px;
    text-transform: uppercase;
    color: $white-text-color;
    background-color: $accent-color;
    border-radius: 4px;
    font-size: 14px;

    cursor: pointer;
    &:hover {
        background-color: $site-menu-hover;
    }
}

// ------------------more------------------

.more {
    margin-top: 22px;
    // margin-bottom: 50px;
    padding: 20px;
    border-radius: 6px;
    background-color: $white-text-color;
    box-shadow: 4px 4px 10px 0px rgba($color: #000000, $alpha: 0.4);

		&__text {
            font-size: 14px;
		}

		&__text--bold {
            margin-top: 20px;
            font-weight: 700;
		}
        @media screen and (min-width:768px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 294px;
            height: 194px;
        }

}

.more__btn {
    @media screen and (min-width:980px) {
        text-align: center;
    }
}